*{
    margin: 0;
    padding:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    font-family: 'lato', sans-serif;
    font-weight: 30;
    font-size: 35px;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1440px;
    margin:0 auto;
    font-size: 32px;
}
header{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.54)),to(rgba(0, 0, 0, 0.6))), url("img/hero.jpg");
    background-image:linear-gradient(rgba(0, 0, 0, 0.54),rgba(0, 0, 0, 0.6)), url("img/hero.jpg");
    background-position:center;
    background-size:cover;
    height: 100vh;
    position: relative;
    }
.first-page{
    position:absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h1{
    margin:0;
    color: white;
    font-size: 20px;
    font-weight:100;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
}  
.btn{ 
    display:inline-block;
    padding: 10px 35px;
    border: 1px;
    color: white;
    text-decoration: none;
    border-radius:200px;
    -webkit-transition: background-color 0.2s, color 0.2s,border 0.2s;
    transition: background-color 0.2s, color 0.2s,border 0.2s;
    margin-right: 20px;
}
.btn-1:link,
.btn-1:visited{
    background-color: orange;
    border: 1px solid white;
}
.btn-2:link,
.btn-2:visited{
    color: white;
    border: 1px solid orange;
}
.btn-1:hover,
.btn-1:active{
    background-color: #d98d00;
    border: 1px solid white;
}
.btn-2:hover,
.btn-2:active{
    color:#fff;
    background-color: #d98d00;
    border: 1px solid #d98d00;  
}
.logo{
    max-height: 100px;
    max-width: auto;
    margin-left: 160px;
    float: left;
    margin-top: 30px;
}
.main-nav{
    top: 0;
    width: 100%;
    position: fixed;
    background: #000000;
    opacity: 0.5;
    overflow: hidden;
    padding-right: 50px;
}
.main-nav li{
    margin-top: 40px;
    margin-bottom: 30px;
    display: inline-block;
    margin-right: 30px;
    float: right;
}
.main-nav li a{
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: orange;
    word-spacing: 2px;
    letter-spacing: 0.5px;
}
.main-nav li a:hover,
.main-nav li a:active{
    font-size: 25px;
    text-decoration: none;
    color:#cc8600;
    -webkit-transition:font-size 0.5s;
    transition:font-size 0.5s;
}
h2{
    padding: 40px 0 0 0;
    text-align: center;
    line-height: 145%;
    font-size: 80%;
    font-weight:normal;
}
h3{
    font-style: normal;
    font-size: 80%;
    text-align: center;
    line-height: 145%;
    margin-top: 50px;
    font-weight: 600;
}
h4:after{
    display: block;
    background-color: orange;
    width: 200px;
    content: "";
    height: 4px;
    margin: 0 auto;
    margin-top: 30px;   
}
p{
    font-size: 70%;
    text-align: inherit;
    margin-top: 40px;
    font-weight:normal;
}
.section-stuff{
    padding: 50px 50px;
}
h4{
    margin-top: 70px;
    font-size: 160%;
    text-align: center;
    font-weight: 300;
    word-spacing: 4px;
}
.box{
    padding: 1%;
}
.box p{
    line-height: 145%;
    font-size: 80%;
}
.section-image{
    padding:50px 0;
}
.image{
    list-style: none;
    width: 100%;
    overflow:hidden;
}
.image li{
    width: 25%;
    display:block;
    float: left;
}
.image img{
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    width: 100%;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
.image img:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
.cities{
    padding: 50px 0;
}
.current-cities{
    width: 100%;
    padding:5% 0;
}
.current-cities img{
    width: 25%;
    padding: 15px;
    float: left;
}
h5{
    font-size: 60%;
    font-weight:180;
}
.col span-1-of-4{
    padding:15px;
    margin-right:80px;
}
.customer{
    padding: 5%;
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/back-customers.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
}
.boxes{
    padding:5% 2%;
    max-width:31%;
}
.boxes h5{
    display: block;
    line-height: 145%;
    font-size: 80%s;
}
.customer img{
    border-radius: 50%;
    display: block;
    max-width: 80px;
    max-height:auto;
}
.name{
    float: left;
    font-size:20px;;
}
.sign-up{
    background-color: #ebebeb;
    padding:4% 10% 10% 8%;
}
.boxess{
    padding: 30px;
    background-color: #fff;
    display: block;
    line-height: 145%;
    font-size: 23px;
    max-width: 33%;
}
.text{
    float: left;
    font-size: 40px;
    color: orange;
}
.text2{
    font-size: 20px;
    color: orange;
}
.contact{
    padding:40px 0 50px 0;
}
.form{
    width: 72%;
    padding:0;
    margin: 0 auto;
    font-size: 10px;
}
input,select,textarea{
   width: 100%;
   padding: 0;
   border-radius: 10px;
   border: 1px solid #c7c7c7; 
   padding: 10px;
   max-height: 45px;
   
}
.colour{
    background-color: orange;
    max-width:24%;
    max-height: 60px;
    border-radius:200px;
}
footer{
    padding: 30px;
    background-color: #272727;
}
.nav{
    float: right;
    text-decoration: none;
    color:#d0d0d0;
}
.nav li{
    display: inline-block;
    margin-right: 30px;
}
.nav li a{
    font-size: 20px;
    text-decoration: none;
    color:#d0d0d0;
    word-spacing: 2px;
    letter-spacing: 0.5px;
}
.nav li a:hover,
.nav li a:active{
    font-size: 24px;
    text-decoration: none;
    color:#d0d0d0;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    -webkit-transition:font-size 0.5s;
    transition:font-size 0.5s;
}
.last{
    word-spacing: 4px;
    padding: 100px 0 40px 0;
    color: #d0d0d0;
    text-align: center;
}
